WS_HOST = "127.0.0.1"
WS_PORT = 42069
NETWORK_CONNECT_PEER = None
NETWORK_NODE_ID = "http://127.0.0.1:8080"
HTTP_HOST = "0.0.0.0"
HTTP_PORT = 8080
POLL_INTERVAL = 0.05

# Set to True to enable verbose proposal/consensus logs.
PROTOCOL_DEBUG = False

PROTOCOL = "HTTP"

DEBUG_CONTROL_ENABLED = False
DEBUG_CONTROL_HOST = "127.0.0.1"
DEBUG_CONTROL_PORT = 43000
