WS_HOST = "127.0.0.1"
WS_PORT = 42069
NETWORK_PROTOCOL = "HTTP"
NETWORK_CONNECT_PEER = None
NETWORK_NODE_ID = None
NETWORK_PEER_IDENTITIES = []
HTTP_HOST = "0.0.0.0"
HTTP_PORT = 8080
HTTP_PUBLIC_URL = None
HTTP_CONNECT_PEER = None
DEFAULT_FILE = "shared_buffer.py"
POLL_INTERVAL = 0.05
NETWORK_IDLE_LOOPS = 50000
NETWORK_IDLE_SLEEP = 0.001
